.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__imagem {
    padding: 1em;
}

.logo__titulo {
    color: var(--cinza-claro);
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cinza-escuro);
}

.opcoes__item {
    padding: .5em;
}

.botoes__entrar {
    background-color: white;
    border: none;
    color: var(--cinza-claro);
}

.botoes__cadastrar {
    background-color: var(--roxo);
    border:  1px solid var(--roxo);
    color: white;
    border-radius: 5px;
}