.cabecalho {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cabecalho__link {
    color: var(--roxo);
    font-size: 16px;
    font-weight: 600;
    padding: 1em 0 0 0;
    text-decoration: none;
    
}

.cabecalho__titulo {
    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
    padding: 1em;
}

.cabecalho__texto {
    text-align: center;
    width: 90vw;
    font-size: 20px;
    line-height: 30px;
}