.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__imagem {
    padding: 1em;
}

.logo__titulo {
    color: var(--cinza-claro);
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cinza-escuro);
}

.opcoes__item {
    padding: .5em;
}

.opcoes__item  a {
    text-decoration: none;
    color: var(--cinza-escuro);
}

.botoes__entrar {
    background-color: white;
    border: none;
    color: var(--cinza-claro);
    font-weight: 500;
    padding: 10px 18px;
}

.botoes__cadastrar {
    background-color: var(--vermelho);
    border:  1px solid var(--vermelho);
    color: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
}