@import url('header.css');

:root {
    --cinza-claro: #667085;
    --cinza-escuro: #3A404E;
    --cinza-card: #EAECF0;
    --vermelho: #8E2424;
    --preto: #101828;
    --vermelho-claro:  rgba(142, 36, 36, 0.05);
    --card-depoimentos:rgba(196, 25, 25, 0.03);
}


body {
    font-size: 16px;
    color: var(--cinza-claro);
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;

}

.cabecalho {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__link {
    color: var(--vermelho);
    font-size: 16px;
    font-weight: 600;
    padding: 1em 0 0 0;
    text-decoration: none;
}

.cabecalho__titulo {
    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
    padding: 1em;
}

.cabecalho__texto {
    text-align: center;
    width: 90vw;
    font-size: 20px;
    line-height: 30px;
}

.metricas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.metricas__item {
    padding: 1em;
    text-align: left;
}

.metricas__item--numero {
    color: var(--vermelho);
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
}

.metricas__item--titulo {
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding: 0.2em;

}

.metricas__item--texto {
    line-height: 24px;
    text-align: left;
}

.vagas {
    text-align: center;
}

.vagas__alerta {
    color: var(--vermelho);
    background-color: var(--vermelho-claro);
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.vagas__titulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--preto);
    letter-spacing: -0.02em;
    padding: 0.5em;
}

.vagas__texto {
    font-size: 20px;
    padding: 1em;
}

.vagas_imagem {
    width: 95vw;
    padding: 2em;
}

.card_container {
    width: 75vw;
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    margin: 0 auto;
}

.card_vaga {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 28px;
    margin: 10px;
    gap: 24px;

    background: #FFFFFF;
    border: 1px solid var(--cinza-card);
    border-radius: 16px;
}

.card_container__setor {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--preto);
    padding: 2em 0 0.5em 1em;
}

.card_vaga__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
    padding: 0.5em 0 1em 0;
}

.card_vaga__informacoes--salario {
    padding: 1em;
    font-weight: 500;
}

.depoimentos {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 16px;
    margin: 0 auto;

    background: var(--card-depoimentos);
    border-radius: 16px;
    margin-top: 20px;
}

.depoimentos__alerta {
    color: var(--vermelho);
    font-weight: 600;
    font-size: 14px;
}

.depoimentos__texto {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: var(--preto);

}

.depoimentos__colaborador {
    background-image: url('../img/Avatar.svg');
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    text-align: center;
}

.depoimentos__nome {
    font-weight: 500;
    line-height: 24px;
    color: var(--preto);

}

.depoimentos__cargo {
    font-size: 14px;
    color: var(--cinza-claro);
}